* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F7FB;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 90px;
}
header {
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #282538;    
}
main {
    display: flex;
    justify-content: space-between;
}
aside p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #B9BDCF;
    margin-bottom: 15px;
}
.back {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #1E86FF;
    margin-bottom: 35px;
    text-decoration: none;
}